Repository Armor-test/document-client-224, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/grp-api, @Armor-test/dept-billing, @Armor-test/squad-qa, @Armor-test/unit-cloud, @Armor-test/dept-automation, @Armor-test/squad-apps, @Armor-test/team-notifications, @Armor-test/unit-devops, @Armor-test/dept-logging, @Armor-test/squad-search, @Armor-test/dept-notifications, @Armor-test/squad-performance, @Armor-test/dept-release, @Armor-test/team-research, @Armor-test/dept-reliability, @Armor-test/unit-governance, @Armor-test/grp-integration, @Armor-test/squad-frontend, @Armor-test/grp-search, @Armor-test/squad-payments, @Armor-test/dept-api, @Armor-test/unit-test, @Armor-test/squad-tooling, @Armor-test/team-governance, @Armor-test/dept-reporting, @Armor-test/dept-data, @Armor-test/squad-ml, @Armor-test/squad-mobile, @Armor-test/squad-reporting, @Armor-test/dept-identity, @Armor-test/grp-payments, @Armor-test/grp-ui, @Armor-test/unit-design, @Armor-test/squad-ux, @Armor-test/team-logging, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/auth-team, @Armor-test/infra

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/grp-api, @Armor-test/dept-billing, @Armor-test/squad-qa

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/grp-api, @Armor-test/dept-billing, @Armor-test/squad-qa

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/dept-release, @Armor-test/team-research, @Armor-test/dept-reliability

Add src/main.py
  src/main.py
Owners: @Armor-test/unit-test, @Armor-test/dept-logging, @Armor-test/grp-payments

Add src/index.js
  src/index.js
Owners: @Armor-test/grp-api, @Armor-test/dept-billing, @Armor-test/squad-qa

.github/CODEOWNERS:

# CODEOWNERS file for document-client-224
# Global owners - will be requested for all PRs
* @Armor-test/grp-api @Armor-test/dept-billing @Armor-test/squad-qa

# Directory ownership
/ui/ @Armor-test/unit-cloud @Armor-test/dept-automation
/common/ @Armor-test/squad-apps @Armor-test/team-notifications @Armor-test/unit-devops
/web/ @Armor-test/dept-logging @Armor-test/dept-billing @Armor-test/grp-api
/third_party/ @Armor-test/squad-search @Armor-test/dept-notifications @Armor-test/squad-performance
/test/ @Armor-test/dept-release @Armor-test/team-research @Armor-test/dept-reliability
/models/ @Armor-test/unit-governance @Armor-test/grp-integration
/pages/ @Armor-test/squad-frontend @Armor-test/team-notifications
/auth/ @Armor-test/grp-search @Armor-test/grp-integration
/db/ @Armor-test/dept-logging @Armor-test/squad-payments
/examples/ @Armor-test/team-research @Armor-test/dept-api @Armor-test/unit-test
/services/ @Armor-test/squad-tooling @Armor-test/team-governance
/data/ @Armor-test/grp-api @Armor-test/dept-reporting @Armor-test/dept-notifications
/security/ @Armor-test/dept-data @Armor-test/dept-logging
/tests/ @Armor-test/team-notifications @Armor-test/squad-ml

# File type ownership
*.sh @Armor-test/dept-reporting @Armor-test/squad-payments @Armor-test/squad-mobile
*.lock @Armor-test/squad-qa @Armor-test/squad-reporting
*.c @Armor-test/dept-automation @Armor-test/grp-integration
*.tf @Armor-test/dept-billing @Armor-test/unit-test
*.toml @Armor-test/squad-apps @Armor-test/dept-reliability @Armor-test/squad-qa
*.php @Armor-test/dept-notifications @Armor-test/squad-tooling @Armor-test/dept-identity
*.scala @Armor-test/squad-mobile @Armor-test/team-research
*.py @Armor-test/unit-test @Armor-test/dept-logging @Armor-test/grp-payments
*.yaml @Armor-test/squad-performance @Armor-test/team-notifications
*.java @Armor-test/squad-search @Armor-test/grp-ui
*.cpp @Armor-test/unit-design @Armor-test/squad-performance
*.json @Armor-test/unit-design @Armor-test/squad-ux @Armor-test/squad-reporting
*.tsx @Armor-test/dept-reporting @Armor-test/squad-mobile
*.scss @Armor-test/dept-notifications @Armor-test/team-logging @Armor-test/grp-payments

# Security and special files
package.json @Armor-test/dependency-team @Armor-test/security
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
Dockerfile @Armor-test/devops @Armor-test/infra
